.movieDetail {
    width: 50%;
}

.videoDetail {
    width: 50%;
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

.videoDetail iframe {
    position: absolute;
    top:0;
    left: 50;
    width: 100%;
    height: 100%;
}

#button{
    border: 2px solid rgba(103, 103, 103, 0.2);
    border-radius: 10px;
    background-color: rgba(61, 61, 61, 0.729);
    padding: 10px;
    font-size: 25px;
}

#button:hover{
    border: 2px solid rgba(103, 103, 103, 0.2);
    border-radius: 10px;
    background-color: rgba(130, 128, 128, 0.729);
    padding: 10px;
    font-size: 25px;
}

@media screen and (max-width: 450px) {
    .movieDetail {
        width: 90%;
    }

    .videoDetail{
        width: 90%;
    }

    .videoDetail iframe {
        position: absolute;
        top:0;
        left: 50;
        width: 100%;
        height: 100%;
    }
}