body{
    background-image: url(/assets/bf-red-landing.jpg);
    background-size: cover;
}
.description{
    height: 39vh;
    
}
.text-color{
    font-size: 30px;
    font-weight: 800;
    text-shadow: 1px 0px 1px grey;
}
.footer{
    background-color: rgba(60.78, 60.78, 60.78, 0.2);
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
}
.pt-6{
    padding-top: 7vh;
}
.pt-7{
    padding-top: 28vh;
}
.rollingmovies-text{
    color: white;
    font-weight:800;
    font-size: 60px;
    text-shadow: 1px 1px 1px black;;
}
.footer, .socialm{
    text-decoration: none;
    color: black;
}
.socialm:hover{
    color: white;
    cursor: pointer;
}
.navbar-color{
    background-color: rgba(60.78, 60.78, 60.78, 0.2);
}
.text-desc{
    font-size: 25px;
    color: white;
    text-shadow: 2px 2px 2px black;;
}



@media only screen and (min-width: 0px) and (max-width: 450px){
    .mq-desc{
    color: transparent;
    text-shadow: none;
    }
}

@media only screen and (min-width: 0px) and (max-width: 450px){
    .mq-rollingm{
        font-size: 35px;
        font-weight: 500;
        padding-top: 35vh;
    }
}