.table-link-image{
    height: 40px;
    width: 40px;
}
.table-link-video{
    height: 40px;
    width: 40px;
}

.body{
    margin: 0;
    padding: auto;
}



.table-container{
    overflow-x: auto;
}

.table-rwd{
    min-width: 1024px;
}

/* .first-column{
    position: absolute;
    width: 8em;
} */

