*{
  font-family: 'Karla', sans-serif;
}
body {
  background-image: url(/assets/bf-red-landing.jpg);
  background-size: cover;
}

.mainImage {
  height: 50vh;
  object-fit: cover;
}

.btn-play {
  background-color: #2669cc;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.btn-play:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.carouselContainer{
  width: 90%;
  margin: 0px auto;
}


.movieImage{
  width: 16.6%;
  height: 250px;
  object-fit: cover;
}

.movieImageMobile{
  width: 80%;
  height: 250px;
  margin: 0px auto;
  object-fit: cover;
}

.col-sm-2-4{
  width: 19% !important;
  height: 250px;
  object-fit: cover;
}

.footer{
  position: absolute;
  bottom: 0;
  background-color: rgba(60.78, 60.78, 60.78, 0.2);
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
}

.footer, .socialm{
  text-decoration: none;
  color: black;
}
.socialm:hover{
  color: white;
  cursor: pointer;
}
.navbar-color{
  background-color: rgba(60.78, 60.78, 60.78, 0.2);
}

@media screen and (max-width: 576px) {
  .mainImage {
    height: 45vh;
    object-fit: cover;
  }
}

