body{
    background-image: url(/assets/bf-red-landing.jpg);
    background-size: cover;
}
.description{
    height: 78vh;
}

.footer{
    background-color: rgba(60.78, 60.78, 60.78, 0.2);
    padding-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 5px;
}
.bg-description{
    color: black;
    text-shadow:10px;
    text-align: center;
}
.pt-6{
    padding-top: 25vh;
}
.rollingmovies-text{
    font-weight:700;
}
.footer, .socialm{
    text-decoration: none;
    color: black;
}
.socialm:hover{
    color: white;
    cursor: pointer;
}
.navbar-color{
    background-color: rgba(60.78, 60.78, 60.78, 0.2);
}