body {
  background-image: url(/assets/bf-red-landing.jpg);
  background-size: cover;
}

.mainImage {
  height: 50vh;
  object-fit: cover;
}

.btn-play {
  background-color: #2669cc;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid black;
  border-radius: 10px;
}

.btn-play:hover {
  background-color: black;
  color: white;
  border: 1px solid white;
}

.carouselContainer{
  width: 90%;
  margin: 0px auto;
}


.movieImage{
  width: 19%;
  height: 250px;
  object-fit: cover;
}

.movieImageMobile{
  width: 80%;
  height: 250px;
  margin: 0px auto;
  object-fit: cover;
}

.col-sm-2-4{
  width: 19% !important;
  height: 250px;
  object-fit: cover;
}

.footer{
  position: absolute;
  bottom: 0;
  background-color: rgba(60.78, 60.78, 60.78, 0.2);
  padding-bottom: 0px;
  margin-bottom: 0px;
  padding-top: 5px;
}

.footer, .socialm{
  text-decoration: none;
  color: black;
}
.socialm:hover{
  color: white;
  cursor: pointer;
}
.navbar-color{
  background-color: rgba(60.78, 60.78, 60.78, 0.2);
}

@media screen and (max-width: 576px) {
  .mainImage {
    height: 45vh;
    object-fit: cover;
  }
}

/* * Contenedor de título y controles
.containerTitleControls h3 {
  color: white;
  font-size: 30px;
}

.indicators button {
  background: white;
  height: 3px;
  width: 10px;
  cursor: pointer;
  border: none;
  margin-right: 2px;
}

.indicators button:hover,
.indicators button.active {
  background: red;
}

/* * Contenedor principal y flechas 

.container {
  background-color: gray !important;
}

.recommendedMovie {
  margin-bottom: 70px;
}

.leftArrow,
.rigthArrow {
  background: rgba(0, 0, 0, 0.3);
  font-size: 40px;
  height: 50%;
  top: calc(50%-25%);
  line-height: 50px;
  z-index: 500;
  transition: 0.2s ease all;
}

.leftArrow:hover,
.rigthArrow:hover {
  background: rgba(0, 0, 0, 0.9);
}

.leftArrow {
  left: 0;
}

.rigthArrow {
  right: 0;
}

/* * Carousel 
/* .recommendedMovie 
.carouselContainer {
  width: 100%;
  padding: 20px 0;
  overflow: hidden;
  scroll-behavior: smooth;
}

.carouselContainer {
}

.movie {
  min-width: 20%;
  transition: 0.3s ease all;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

.movie.hover {
  transform: scale(1.2);
  transition: center;
}

.movie img {
  width: 100%;
  vertical-align: top;
}

@media screen and (max-width: 800px) {
  .carouselContainer {
  overflow: visible;
  }

  .carouselContainer .carousel{
    display: grid !important;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
  }

  .indicators,
  .leftArrow,
  .rigthArrow{
    display: none;
  }
}
*/